<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Child</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
</head>
<body>

    <br>
    <h2>Child</h2>
    <br>
    <table class="table table-hover table-responsive table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                Information
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">
                <p>Id</p>
            </th>
            <th>
                <p th:text="${child.getPersonId()}"/>
            </th>
        </tr>
        <tr>
            <th scope="row">
                <p>CPR</p>
            </th>
            <th>
                <p th:text="${person.getCpr()}"/>
            </th>
        </tr>
        <tr>
            <th scope="row">
                <p>Last Name</p>
            </th>
            <th>
                <p th:text="${child.getLastName()}"/>
            </th>
        </tr>
        <tr>
            <th scope="row">
                <p>First Name</p>
            </th>
            <th>
                <p th:text="${child.getFirstName()}"/>
            </th>
        </tr>
        <tr>
            <th scope="row">
                <p>Age</p>
            </th>
            <th>
                <p th:text="${child.getAge()}"/>
            </th>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/families/{id}(id=${familyId})}" class="btn btn-success" aria-pressed="true" role="button">Go Back</a>
    <br>

    <br>
    <a th:href="@{/families/{idF}/child/{idC}/delete(idF=${familyId},idC=${childId})}"
           class="btn btn-danger" aria-pressed="true" role="button">Delete this Person</a>
    <br>

</body>
</html>