<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Child</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <style>
        h1 {
            font-weight: lighter;
            margin-left: 100px;
            margin-top: -70px;
        }

        p {
            margin: 10px;
            font-family: segoe ui;
            line-height: 1.4em;
            font-size: 1.2em;
        }

        #container {
            display: flex;
        }

        #item-center {
            flex-grow: 1; /* Set the middle element to grow and stretch */
        }

        #item-right {
            margin-left: 2%;
        }
    </style>
</head>
<body>

    <br/>
    <a aria-pressed="true" class="btn btn-success" role="button" th:href="@{/families/{id}(id=${familyId})}">Go Back</a>
    <br/>
    <br>

    <div id="container">
        <table class="table table-hover table-responsive table-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col">
                    #Information
                </th>
                <th scope="col">
                    <td><a th:href="@{/families/{idF}/child/{idP}/updateInfo(idF=${familyId},idP=${personId})}"
                       class="btn btn-warning" aria-pressed="true" role="button">Update Info</a></td>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">
                    <p>CPR</p>
                </th>
                <th>
                    <p th:text="${person.getCpr()}"/>
                </th>
                <td><a th:href="@{/families/{idF}/child/{idP}/updateCPR(idF=${familyId},idP=${personId})}"
                       class="btn btn-warning" aria-pressed="true" role="button">Update CPR</a></td>
            </tr>
            <tr>
                <th scope="row">
                    <p>Id</p>
                </th>
                <th>
                    <p th:text="${child.getPersonId()}"/>

                </th>
            </tr>
            <tr>
                <th scope="row">
                    <p>Last Name</p>
                </th>
                <th>
                    <p th:text="${child.getLastName()}"/>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <p>First Name</p>
                </th>
                <th>
                    <p th:text="${child.getFirstName()}"/>
                </th>
            </tr>
            <tr>
                <th scope="row">
                    <p>Age</p>
                </th>
                <th>
                    <p th:text="${child.getAge()}"/>
                </th>
            </tr>
            </tbody>
        </table>

        <div id="item-center">
            <div class="container-sm">
            </div>
        </div>

        <div id="item-right">
            <table class="table table-hover table-responsive table-sm">
                <thead class="thead-light">
                <tr>
                    <th scope="col">
                        #Address
                    </th>
                    <th scope="col">
                    <td><a th:href="@{/families/{idF}/child/{idP}/address/{idA}/updateAddress(idF=${familyId},idP=${personId},
                            idA=${address.id})}"
                           class="btn btn-danger" aria-pressed="true" role="button">Update Address</a></td>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">
                        <p>Id</p>
                    </th>
                    <th>
                        <p th:text="${address.getId()}"/>

                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <p>Street</p>
                    </th>
                    <th>
                        <p th:text="${address.getStreet()}"/>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <p>No</p>
                    </th>
                    <th>
                        <p th:text="${address.getNumber()}"/>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <p>City</p>
                    </th>
                    <th>
                        <p th:text="${address.getCity()}"/>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <p>Zipcode</p>
                    </th>
                    <th>
                        <p th:text="${address.getZipcode()}"/>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <p>Country</p>
                    </th>
                    <th>
                        <p th:text="${address.getCountry()}"/>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <a th:href="@{/families/{idF}/child/{idP}/delete(idF=${familyId},idP=${personId})}"
           class="btn btn-danger" aria-pressed="true" role="button">Delete this Person</a>
    <br>

</body>
</html>