<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parent Registration</title>
</head>
<body>
    <br>
    <h2>Parent Registration</h2>
    <br>
    <div>
        <form th:action="@{/families/{idF}/person/{idP}/cpr(idF=${familyID}, idP=${personId})}" th:object="${cpr}" method="post">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="number" class="form-control" id="number" placeholder="Number" required
                           th:field="*{number}">
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Add CPR</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>