<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Families</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
</head>
<body>
    <br>
    <h2>Families</h2>
    <br>

    <div>

        <section class="container">
            <input class="light-table-filter" data-table="order-table" placeholder="Filter" type="search">
            <table class="order-table table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Registration</th>
                    </tr>
                </thead>
                <tbody th:each="f : ${families}">
                    <tr>
                        <td th:text="${f.id}"></td>
                        <td th:text="${f.getName()}"></td>
                        <td th:text="${f.getRegistration()}"></td>
                        <td><a th:href="@{/families/{id}(id=${f.id})}">See</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <br>
    <a href="/families/tenant/" class="btn btn-primary" aria-pressed="true" role="button">Register Family</a>
    <br>
    <br>
    <a href="/" class="btn btn-success" aria-pressed="true" role="button">Go Back</a>
    <br>

    <script>
        (function (document) {
            'use strict';

            var LightTableFilter = (function (Arr) {

                var _input;

                function _onInputEvent(e) {
                    _input = e.target;
                    var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                    Arr.forEach.call(tables, function (table) {
                        Arr.forEach.call(table.tBodies, function (tbody) {
                            Arr.forEach.call(tbody.rows, _filter);
                        });
                    });
                }

                function _filter(row) {
                    var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                    row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                }

                return {
                    init: function () {
                        var inputs = document.getElementsByClassName('light-table-filter');
                        Arr.forEach.call(inputs, function (input) {
                            input.oninput = _onInputEvent;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function () {
                if (document.readyState === 'complete') {
                    LightTableFilter.init();
                }
            });

        })(document);
    </script>
</body>
</html>