<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <br>
    <h2>Child Registration</h2>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form th:action="@{/families/{idF}/address/child(idF=${familyID})}" th:object="${address}"
                  class="form-horizontal" role="form" method="post">
                <fieldset>
                    <legend>Address Details</legend>

                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="col-sm-2 control-label">Street</label>
                                <input class="form-control" th:type="text"  th:maxlength="25"
                                       id="name" placeholder="Name" th:field="*{street}">
                        </div>

                        <div class="col-sm-4">
                            <label class="col-sm-2 control-label">Number</label>
                                <input class="form-control" th:type="number" th:min="1" th:max="99999"
                                       id="number" placeholder="Number" th:field="*{number}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="col-sm-2 control-label">City</label>
                                <input class="form-control" th:type="text" th:maxlength="25" id="city"
                                       placeholder="City" th:field="*{city}">
                        </div>

                        <div class="col-sm-4">
                            <label class="col-sm-2 control-label">Zipcode</label>
                                <input class="form-control" th:type="number" th:min="1" th:max="99999"
                                       id="zipcode" placeholder="Zipcode" th:field="*{zipcode}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">Country</label>
                                <input class="form-control" th:type="text" th:maxlength="25" id="country"
                                       placeholder="Country" th:field="*{country}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <br>
</body>
</html>