<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Parent</title>
</head>
<body>
<br>
<h2>Parent Registration</h2>
<br>
<div>
    <form th:action="@{/families/{idF}/person(idF=${familyID})}" th:object="${person}" method="post">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Create Person</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>