<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
</head>
<body>
<br>
<p>Person Created</p>
<br>
<a th:href="@{/families/{idF}/address/{idA}/person/{idP}/child(idF=${familyID}, idA=${addressId}, idP=${personId})}"
   class="btn btn-success" aria-pressed="true" role="button">Continue Registration</a>

</body>
</html>