<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Child</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
</head>
<body>

    <br>
    <h2>Child Update</h2>
    <br>
    <form action="#" th:action="@{/families/{idF}/child/{idP}/address/{idA}/updateAddress(idF=${familyID},
                                    idP=${personId}, idA=${addressId})}" th:object="${address}" method="post">
        <fieldset>
            <legend>Address Details</legend>
            <input type="hidden" th:value="${addressId}" name="id" readonly>

            <div class="col-sm-2">
                <label class="col-sm-2 control-label">Street</label>
                <input class="form-control" th:type="text"  th:maxlength="25"
                       id="name" placeholder="Name" th:value="${address.street}" name="street">
            </div>
            <br/>
            <div class="col-sm-2">
                <label class="col-sm-2 control-label">Number</label>
                <input class="form-control" th:type="number" th:min="1" th:max="99999"
                       id="number" placeholder="Number" th:value="${address.number}" name="number">
            </div>
            <br/>
            <div class="col-sm-2">
                <label class="col-sm-2 control-label">City</label>
                <input class="form-control" th:type="text" th:maxlength="25" id="city"
                       placeholder="City" th:value="${address.city}" name="city">
            </div>
            <br/>
            <div class="col-sm-2">
                <label class="col-sm-2 control-label">Zipcode</label>
                <input class="form-control" th:type="number" th:min="1" th:max="99999"
                       id="zipcode" placeholder="Zipcode" th:value="${address.zipcode}" name="zipcode">
            </div>
            <br/>
            <div class="col-sm-2">
                <label class="col-sm-2 control-label">Country</label>
                <input class="form-control" th:type="text" th:maxlength="25" id="country"
                       placeholder="Country" th:value="${address.country}" name="country">
            </div>
            <br/>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </fieldset>
    </form>

    <br/>

</body>
</html>