<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Family</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <br>
    <h2>Family Update</h2>
    <br>
    <form action="#" th:action="@{/families/{idF}/updateInfo(idF=${familyId})}" th:object="${family}" method="post">
        <fieldset>
            <legend>Family Information</legend>

                <div class="col-sm-2">
                    <label>Name</label>
                    <input class="form-control" th:type="text" th:maxlength="25"
                           id="name" placeholder="Name" required th:value="${family.name}" name="name">
                </div>
                <br/>
                <div class="col-sm-2">
                    <label>Date</label>
                    <input class="form-control" th:type="date"
                           id="date" placeholder="Date" th:value="${family.registration}" name="registration">
                </div>
                <br/>
                <div class="col-sm-2">
                    <label>Phone</label>
                    <input class="form-control" th:type="text" th:min="11111111" th:maxlength="99999999"
                           id="phone" placeholder="Phone" th:value="${family.phone}" name="phone">
                </div>
                <br/>
                <button class="btn btn-primary" type="submit">Save</button>

        </fieldset>
    </form>

    <br/>

    <script>
        var now = new Date(),
            // minimum date the user can choose, in this case now and in the future
            minDate = now.toISOString().substring(0,10);
        $('#date').prop('min', minDate);
    </script>

</body>
</html>